<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userForm</title>
</head>
<body>
<form th:action="@{/userController/{action}(action=${action})}" method="post" class="form-horizontal">

    <input type="hidden" name="id" th:value="${user.id}"/>

    <div class="form-group">
        <label for="user_name" class="col-sm-2 control-label">名称</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="user_name" name="userName" th:value="${user.userName}" />
        </div>
    </div>

    <div class="form-group">
        <label for="user_age" class="col-sm-2 control-label">年龄:</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" id="user_age" name="age" th:value="${user.age}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="user_birthday" class="col-sm-2 control-label">密码:</label>
        <div class="col-xs-4">
            <input type="password" class="form-control" id="user_birthday" name="password" th:value="${user.password}"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-primary" type="submit" value="提交"/>  
            <input class="btn" type="button" value="返回" onclick="history.back()"/>
        </div>
    </div>
</form>
</body>

<script>
    $(function () {
        console.log("123")
        // $.ajax({
        //
        // })
    })
</script>
</html>